bower_components
firebase-debug.log
node_modules
.idea
*~
exe/*
test/*
npm-debug.log
app/server/config.json
_trans_
pack/app_build
.vscode

.history

/main/certbot
*.env
*.htpasswd

env.js

.DS_Store

dist
yarn-error.log

.nyc_output
coverage

/lib/docs/.vite

**/weg/**/*
