:root
  --nu-cl-bg purple
  --nu-cl-fg orange

i
  display flex
  place-items center
  place-content center
  width 32px
  height 32px
  color var(--nu-cl-fg)

.nu-flex
  display flex

.nu-flex-col
  flex-direction column

.nu-flex-grow
  flex-grow 1
  background-color #0f4
