@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')

:root
  --nu-cl-bg #fff
  --nu-cl-fg #444
  --nu-cl-focus #08f
  --nu-cl-hover #f4f8ff
  --nu-cl-focus-contra #ff
  --nu-sz-sm 4px
  --nu-sz-md 8px
  --nu-sz-lg 16px
  --nu-base-font-size 15px
  --nu-base-font-family Roboto, sans-serif
  //  Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

nu-m-horz-sm()
  margin-left var(--nu-sz-sm)
  margin-right var(--nu-sz-sm)

html
  width 100%
  height 100%

body, #app
  width 100%
  height 100% // On mobile, 100vh is not 100% of the viewport height! It includes the address bar and browser UI. Using 100% instead should fix it, in combination with the 100% height on the html tag.
  margin 0
  padding 0
  background-color var(--nu-cl-bg)
  color var(--nu-cl-fg)
  line-height 1.6
  font-family var(--nu-base-font-family)
  font-size var(--nu-base-font-size)
  font-weight 400
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*,
*::before,
*::after
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;

button
  padding var(--nu-sz-md)
  font-family var(--nu-base-font-family)
  font-size var(--nu-base-font-size)
  font-weight 500
  text-transform uppercase
  color var(--nu-cl-fg, #000)
  background-color var(--nu-cl-bg, #fff)
  border 1px solid #ddd
  border-radius 4px
  white-space nowrap
  cursor pointer
  user-select none
  &:hover
    background-color var(--nu-cl-hover)
    color var(--nu-cl-focus)
    // border-color var(--nu-cl-focus)

NuIcon
  display flex
  place-items center
  place-content center
  width 32px
  height 32px
  color var(--nu-cl-fg)
  cursor pointer
  // nu-m-horz-sm()
  &:hover
    color var(--nu-cl-focus)
//    color lighten(var(--nu-cl-fg), 30%)
//    background-color lighten(var(--nu-cl-bg), 30%)
  svg
    width 24px // Otherwise not showing on iPhone.
    height 24px

NuGrow
  flex-grow 1

.nu-flex
  display flex

.nu-flex-col
  flex-direction column

.nu-flex-grow
  flex-grow 1

.nu-center-vert
  align-items: center

.nu-w-full
  width 100%

.nu-p-sm
  padding var(--nu-sz-sm)

.nu-p-horz-sm
  padding-left var(--nu-sz-sm)
  padding-right var(--nu-sz-sm)

.nu-p-vert-md
  padding-top var(--nu-sz-md)
  padding-bottom var(--nu-sz-md)

.nu-p-md
  padding var(--nu-sz-md)

.nu-p-lg
  padding var(--nu-sz-lg)

.nu-m-horz-sm
  nu-m-horz-sm()

.nu-m-r-sm
  margin-right var(--nu-sz-sm)

.nu-gap-sm
  gap var(--nu-sz-sm)

.nu-gap-md
  gap var(--nu-sz-md)
